html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  z-index: 1;
  color: var(--text-100);
  background: var(--bg-100);
  font-size: var(--font-base);
  font-family: var(--font-sans);
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 1.2rem;
  }
  &::-webkit-scrollbar-track {
    background: var(--bg-100);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 99rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}

a {
  color: inherit;
  cursor: pointer;
  transition: all var(--duration-400);
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: auto;
}

sup {
  font-size: 0.5em;
  vertical-align: super;
}

summary {
  display: block;
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}

a[href^="tel:"] {
  pointer-events: none;
  cursor: text;
}
