[class*="l-inner"] {
  width: 90%;
  margin: 0 auto;
}
.l-inner-md {
  max-width: 1296px;
}
.l-inner-sm {
  max-width: 750px;
}

.l-container {
  display: grid;
  @media (width > 750px) {
    grid-template-columns: 3fr 9fr;
    grid-column-gap: 4.8rem;
    padding: var(--space-xl) 0;
  }
  @media (width <= 750px) {
    grid-template-columns: repeat(12, 1fr);
    padding: 2.4rem 0 1.6rem;
  }
}
.l-main {
  @media (width > 750px) {
    grid-column: 2 / 3;
    grid-row: 1 / 7;
  }
  @media (width <= 750px) {
    grid-column: 1 / 13;
    margin-top: 2rem;
  }
}
