:root {
  /* font */
  --font-sans: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ",
    Meiryo, "Meiryo UI", sans-serif;
  --font-en: "Arial Black", sans-serif;

  /* font-size */
  --font-xs: clamp(0.9rem, 0.12vi + 0.85rem, 1.02rem);
  --font-sm: clamp(1.12rem, 0.15vi + 1.06rem, 1.28rem);
  --font-base: clamp(1.4rem, 0.19vi + 1.33rem, 1.6rem);
  --font-md: clamp(1.75rem, 0.24vi + 1.66rem, 2rem);
  --font-lg: clamp(2.19rem, 0.3vi + 2.07rem, 2.5rem);
  --font-xl: clamp(2.73rem, 0.37vi + 2.59rem, 3.13rem);
  --font-xxl: clamp(3.42rem, 0.47vi + 3.24rem, 3.91rem);
  --font-xxxl: clamp(4.27rem, 0.58vi + 4.05rem, 4.88rem);

  /* color */
  --primary-300: rgba(132, 114, 94, 1);
  --accent-100: rgba(160, 150, 165, 1);
  --accent-200: rgba(70, 62, 75, 1);
  --primary-100: rgba(231, 209, 187, 1);
  --primary-200: rgba(200, 179, 158, 1);
  --text-100: rgba(160, 150, 162, 1);
  --text-200: rgba(132, 122, 134, 1);
  --bg-100: rgba(21, 25, 49, 1);
  --bg-200: rgba(37, 40, 65, 1);
  --bg-300: rgba(61, 63, 91, 1);
  --white: rgba(255, 255, 255, 1);
  --white: rgba(255, 255, 255, 1);

  /* space */
  --space-xl: 12.8rem;
  --space-lg: 6.4rem;
  --space-md: 3.2rem;
  --space-sm: 1.6rem;
  --space-xs: 0.8rem;

  /* animation */
  --duration-200: 200ms;
  --duration-400: 400ms;
  --duration-600: 600ms;
  --timing-fn: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  /* line-height */
  --line-height-tight: 1.25;
}

@media screen and (max-width: 750px) {
  :root {
    /* space */
    --space-xl: 6.4rem;
    --space-lg: 3.2rem;
    --space-md: 1.6rem;
    --space-sm: 0.8rem;
    --space-xs: 0.4rem;
  }
}
