.overflow-y-scroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 1.2rem;
  }
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }
  &::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 1.2rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}
